body{
    background:#f8f9fa;
}

.card{
    border:none;
    border-radius:15px;
}

.btn{
    border-radius:10px;
}

footer{
    margin-top:80px;
}

.display-5{
    color:#0d6efd;
}

.lead{
    color:#555;
}